h1, h2 {
    font-family: 'Pacifico', cursive;
    color: #CEB2A1;
    font-weight: 100;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding: 20px 0;
}
body {
    width: 800px;
    margin: 20px auto;
    background-image: url("../images/windmills.jpg");
    background-repeat: repeat;
    background-size: 1800px auto;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #F9E6E2;

}
.container {
    background-color: #7F6E61;
    border: 5px solid #413E30;
    padding: 20px;
}
img {
    display: block;
    margin: 0 auto;
    border: 5px solid #F9E6E2;
    border-radius: 50%;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 16px;
}
a {
    color: #CEB2A1;
    text-decoration: none;
}
.fab {
    font-size: 1.5em;
    color:#CEB2A1;
}
.social-media-icons {
    margin-top: 30px;
}
.social-media-icons li {
    display: inline;
}